*::selection {
    background-color: #00AF66;
    color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.5s, color 0.5s; 
}


table {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    color: #333 !important;

}

.pagination .page-link {
    margin-top: 10px;
    background-color: #ffffff;
    color: #00AF66;
    border: 1px solid #00AF66;
}

.pagination .page-item.active .page-link {
    background-color: #00AF66;
    border-color: #00AF66;
    color: white;
}

.pagination .page-item .page-link:hover {
    background-color: #00AF66;
    color: white;
}

.table.table-striped {
    border: none !important;
    box-shadow: none !important;
}

.table.table-striped th, .table.table-striped td {
    border-top: 1px solid #e0e0e0 !important;
}

thead {
    border-bottom: 2px solid #00AF66 !important;
}

.barra-lateral {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: #333;
    padding-top: 20px;
    border-right: 1px solid #e0e0e0;
    transition: width 0.3s;
}

.barra-lateral.minimizada {
    width: 60px;
}

.barra-lateral h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.barra-lateral a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.barra-lateral a i {
    font-size: 20px;
    margin-right: 10px;
}

.opcion-barra-navegacion{
    border-radius: 5px;
}
.barra-lateral a:hover {
    background-color: #cecbcb;
    border-radius: 5px;
}


.opcion-barra-navegacion.active {
    border-left: 5px solid #00AF66;
}


.barra-lateral .texto-barra-lateral {
    display: inline-block;
    transition: all 0.3s;
}

.minimizada .texto-barra-lateral {
    display: none;
}

.minimizada a {
    justify-content: center;
}

.contenido {
    margin-left: 200px;
    padding: 1rem;
    background-color: #f8f9fa;
    height: 100vh;
    transition: margin-left 0.3s, width 0.3s;
}

.contenido.minimizado {
    margin-left: 60px;
}

.barra-navegacion {
    background-color: white;
    color: #222;
    margin-left: 200px;
    height: 60px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    transition: margin-left 0.3s;
}

.barra-navegacion h2 {
    font-weight: 600;
}

.barra-navegacion.minimizada {
    margin-left: 60px;
}

.btn-success {
    background-color: #f8f9fa !important;
    border: 1px solid #00AF66 !important;
    color: #222;
    transition: .2s ease-in-out;
}

.btn-success:hover {
    box-shadow: inset 0 0 3px #00AF66;
    color: #222;
}

.btn-success:active {
    box-shadow: inset 0 0 100px #00AF66;
    color: #222;
}

.btn-danger {
    background-color: #f8f9fa !important;
    border: 1px solid red !important;
    color: #222;
    transition: .2s ease-in-out;
}


.btn-danger:hover {
    box-shadow: inset 0 0 5px red;
    color: #222;
}

.btn-danger:active {
    box-shadow: inset 0 0 100px red;
}
.boton-crear {
    background-color: #00AF66 !important;
    border: none;
    color: white;
    width: 190px;
    margin-left: auto;
}


.seccionEstatus {
    width: 100%;
    display: inline-flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/* Estilos para el contenedor de la barra de búsqueda */
.dataTables_filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    width: fit-content;
    margin-left: auto;
}

/* Estilos para la etiqueta de búsqueda */
.dataTables_filter label {
    font-size: 16px;    
    color: #00AF66;
}

/* Estilos para el input de búsqueda */
.dataTables_filter label input {
    width: 300px;
    border: 1px solid #00AF66; /* Color base */
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

/* Cambiar el color del borde y el fondo cuando el input está enfocado */
.dataTables_filter label input:focus {
    border-color: #00AF66;  /* Color base */
    background-color: #e6fff0; /* Color suave para el fondo */
    outline: none;
    box-shadow: 0px 0px 5px rgba(2, 146, 60, 0.5); /* Sombra verde */
}

.dataTables_length {
    display: flex;
    align-items: center;  
    width: fit-content;
}

/* Estilo para el select de las opciones (por ejemplo, el menú desplegable de "10", "25", "50"...) */
.dataTables_length select {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
}

.dataTables_length select option {
    background-color: #222;  /* Color de fondo de las opciones */
    color: #fff;  /* Color del texto de las opciones */
}


/* Modo claro (por defecto) ya está definido en el CSS actual */

/* Modo oscuro */
.modo-oscuro {
    background-color: #333 !important;
    color: #f8f9fa !important;
}

.modo-oscuro .barra-lateral {
    background-color: #222;
    color: white;
}

.modo-oscuro .barra-lateral a {
    color: #f8f9fa;
}

.modo-oscuro .barra-lateral a:hover {
    background-color: #333;
}

.modo-oscuro .contenido {
    background-color: #333;
    color: white !important;
}

.modo-oscuro .barra-navegacion {
    background-color: #222;
    color: #f8f9fa;
    border-bottom: 1px solid #444;
}

.modo-oscuro table {
    background-color: #444;
    color: #f8f9fa !important;
    border: 1px solid #555;
}

.modo-oscuro thead {
    border-bottom: 2px solid #555;
}

.modo-oscuro .pagination .page-link {
    background-color: #444;
    color: #f8f9fa;
    border: 1px solid #555;
}

.modo-oscuro .pagination .page-item.active .page-link {
    background-color: #555;
    color: #f8f9fa;
}

.modo-oscuro .btn-success {
    background-color: #333 !important;
    border: 1px solid #00AF66 !important;
    color: #f8f9fa;
    transition: .2s ease-in-out;
}

.modo-oscuro .btn-success:hover {
    box-shadow: inset 0 0 10px #00AF66;
    color: #f8f9fa;
}

.modo-oscuro .btn-success:active {
    box-shadow: inset 0 0 100px #00AF66;
    color: #f8f9fa;
}

.modo-oscuro .btn-danger {
    background-color: #333 !important;
    color: white;
}

.modo-oscuro .btn-danger:hover {
    box-shadow: inset 0 0 10px red;
    color: #f8f9fa;
}

.modo-oscuro .btn-danger:active {
    box-shadow: inset 0 0 100px red;
}

.modo-oscuro .boton-crear {
    background-color: #00AF66 !important;
    border: none;
    color: white;
}
